:root{
  --colors-blackAlpha-L1: rgba(0, 0, 0, 0.05);
  --colors-blackAlpha-L2: rgba(0, 0, 0, 0.15);
  --colors-blackAlpha-L3: rgba(0, 0, 0, 0.25);
  --colors-blackAlpha-L4: rgba(0, 0, 0, 0.45);
  --colors-blackAlpha-L5: rgba(0, 0, 0, 0.75);
  --colors-gray-L1: #f8f9fa;
  --colors-gray-L2: #e9ecef;
  --colors-gray-L3: #dee2e6;
  --colors-gray-L4: #ced4da;
  --colors-gray-L5: #adb5bd;
  --colors-gray-L6: #6c757d;
  --colors-gray-L7: #495057;
  --colors-gray-L8: #343a40;
  --colors-gray-L9: #212529;
  --colors-gray-L10: #121212;
  --colors-red-L1: #fff5f5;
  --colors-red-L2: #ffe3e3;
  --colors-red-L3: #ffc9c9;
  --colors-red-L4: #ffa8a8;
  --colors-red-L5: #ff8787;
  --colors-red-L6: #ff6b6b;
  --colors-red-L7: #fa5252;
  --colors-red-L8: #f03e3e;
  --colors-red-L9: #e03131;
  --colors-red-L10: #c92a2a;
  --colors-blue-L1: #e7f5ff;
  --colors-blue-L2: #d0ebff;
  --colors-blue-L3: #a5d8ff;
  --colors-blue-L4: #74c0fc;
  --colors-blue-L5: #4dabf7;
  --colors-blue-L6: #339af0;
  --colors-blue-L7: #228be6;
  --colors-blue-L8: #1c7ed6;
  --colors-blue-L9: #1971c2;
  --colors-blue-L10: #1864ab;
  --colors-yellow-L1: #fff9db;
  --colors-yellow-L2: #fff3bf;
  --colors-yellow-L3: #ffec99;
  --colors-yellow-L4: #ffe066;
  --colors-yellow-L5: #ffd43b;
  --colors-yellow-L6: #fcc419;
  --colors-yellow-L7: #fab005;
  --colors-yellow-L8: #f59f00;
  --colors-yellow-L9: #f08c00;
  --colors-yellow-L10: #e67700;
  --colors-green-L1: #ebfbee;
  --colors-green-L2: #d3f9d8;
  --colors-green-L3: #b2f2bb;
  --colors-green-L4: #8ce99a;
  --colors-green-L5: #69db7c;
  --colors-green-L6: #51cf66;
  --colors-green-L7: #40c057;
  --colors-green-L8: #37b24d;
  --colors-green-L9: #2f9e44;
  --colors-green-L10: #2b8a3e;
  --colors-orange-L1: #fff4e6;
  --colors-orange-L2: #ffe8cc;
  --colors-orange-L3: #ffd8a8;
  --colors-orange-L4: #ffc078;
  --colors-orange-L5: #ffa94d;
  --colors-orange-L6: #ff922b;
  --colors-orange-L7: #fd7e14;
  --colors-orange-L8: #f76707;
  --colors-orange-L9: #e8590c;
  --colors-orange-L10: #d9480f;
  --colors-purple-L1: #f8f0fc;
  --colors-purple-L2: #f3d9fa;
  --colors-purple-L3: #eebefe;
  --colors-purple-L4: #e599f7;
  --colors-purple-L5: #da77f2;
  --colors-purple-L6: #cc5de8;
  --colors-purple-L7: #be4bdb;
  --colors-purple-L8: #ae3ec9;
  --colors-purple-L9: #9c36b5;
  --colors-purple-L10: #862e9c;
  --colors-pink-L1: #fff0f6;
  --colors-pink-L2: #ffdeeb;
  --colors-pink-L3: #fcc2d7;
  --colors-pink-L4: #faa2c1;
  --colors-pink-L5: #f783ac;
  --colors-pink-L6: #f06595;
  --colors-pink-L7: #e64980;
  --colors-pink-L8: #d6336c;
  --colors-pink-L9: #c2255c;
  --colors-pink-L10: #a61e4d;
  --colors-brown-L1: #f4f1ea;
  --colors-brown-L2: #eaddcf;
  --colors-brown-L3: #d4b794;
  --colors-brown-L4: #c19a6b;
  --colors-brown-L5: #9d6b53;
  --colors-brown-L6: #865439;
  --colors-brown-L7: #70422a;
  --colors-brown-L8: #593a24;
  --colors-brown-L9: #422314;
  --colors-brown-L10: #2e1709;
  --colors-teal-L1: #e6fcf5;
  --colors-teal-L2: #c3fae8;
  --colors-teal-L3: #96f2d7;
  --colors-teal-L4: #63e6be;
  --colors-teal-L5: #38d9a9;
  --colors-teal-L6: #20c997;
  --colors-teal-L7: #12b886;
  --colors-teal-L8: #0ca678;
  --colors-teal-L9: #099268;
  --colors-teal-L10: #087f5b;

  --bg-primary: #f8f9fa;
  --bg-secondary: #e9ecef;
  --bg-warn: #fff3bf;
  --bg-danger: #ffe3e3;
  --button-primary: #74c0fc;
  --button-secondary: #ced4da;
  --button-warn: #ffe066;
  --button-danger: #ffa8a8;
  --text-primary: #f8f9fa;
  --text-secondary: #e9ecef;
  --text-warn: #fcc419;
  --text-danger: #ff6b6b;
  --border-primary: #dee2e6;
  --border-secondary: #ced4da;
  --border-warn: #ffd43b;
  --border-danger: #ff8787;
  --icon-primary: #228be6;
  --icon-secondary: #adb5bd;
  --icon-warn: #fab005;
  --icon-danger: #fa5252;
  --status-primary: #51cf66;
  --status-secondary: #339af0;
  --status-warn: #fcc419;
  --status-danger: #ff6b6b;
  --link-primary: #228be6;
  --link-secondary: #4dabf7;
  --link-warn: #fab005;
  --link-danger: #fa5252;
  --shadow-primary: #212529;
  --shadow-secondary: #343a40;
  --shadow-warn: #f59f00;
  --shadow-danger: #f03e3e;
}

[data-theme='dark'] {
  --bg-primary: #212529;
  --bg-secondary: #343a40;
  --bg-warn: #e67700;
  --bg-danger: #f03e3e;
  --button-primary: #4dabf7;
  --button-secondary: #ced4da;
  --button-warn: #f08c00;
  --button-danger: #e03131;
  --text-primary: #e9ecef;
  --text-secondary: #343a40;
  --text-warn: #e67700;
  --text-danger: #e03131;
  --border-primary: #adb5bd;
  --border-secondary: #495057;
  --border-warn: #f08c00;
  --border-danger: #e03131;
  --icon-primary: #6c757d;
  --icon-secondary: #343a40;
  --icon-warn: #e67700;
  --icon-danger: #c92a2a;
  --status-primary: #2f9e44;
  --status-secondary: #4dabf7;
  --status-warn: #f08c00;
  --status-danger: #e03131;
  --link-primary: #1c7ed6;
  --link-secondary: #1864ab;
  --link-warn: #e67700;
  --link-danger: #c92a2a;
  --shadow-primary: rgba(0, 0, 0, 0.15);
  --shadow-secondary: #ced4da;
  --shadow-warn: #ffe066;
  --shadow-danger: #ffa8a8;
}